{% extends 'partials/base.html.twig' %}
{% block content %}
<article class="box post post-excerpt">
    <header>
        <h2>{{ form.message }}</h2>
    </header>
    <p>Here is the summary of what you wrote to us:</p>
    {{ content }}
    {% include "forms/data.html.twig" %}
</article>
{% endblock %}
