<section id="testimonials">
    <div class="text-container">
        <div class="row">
            <div class="two columns header-col">
                <h1><span>{{ page.header.title }}</span></h1>
            </div>
            {{ page.content }}
            <div class="ten columns flex-container">
                <div class="flexslider">
                    <ul class="slides">
                        {% for item in page.header.testimonials %}
                        <li>
                            <blockquote>
                                <p>{{ item.content }}</p>
                                <cite>{{ item.author }}</cite>
                            </blockquote>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
