{% extends 'partials/base.html.twig' %}
{% block content %}
<section id="about">
    <div class="row">
        <div class="nine columns main-col">
            <h2>{{ form.message }}</h2>
            {{ content }}

            {% include "forms/data.html.twig" %} <br />
            Back to <a href="{{ base_url_absolute }}">homepage</a>.
        </div>
    </div>
</section>
{% endblock %}
